---
layout: default
---

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h2>One More Admin</h2>
        <h1>Erik Gomez</h1>
    </div>
</section>
<section id="main" class="wrapper style1">
    {% for post in paginator.posts %}
        <div class="wrapper {% cycle 'style1', 'style2' %}">
            <header class="major">
                <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
                <h5 class="post-description">{{ post.description }}</h5>
                <h4>
                    {{ post.date | date: "%b %-d, %Y" }} - 
					{% capture words %}
					{{ post.content | number_of_words }}
					{% endcapture %}
					{% unless words contains "-" %}
					{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}
					{% endunless %}
				</h4>
				<h6>
				Categories:
				  {% for tag in post.tags %}
					<a href="/tags#{{ tag | replace: ' ','+'}}">{{ tag }}&nbsp;&nbsp;</a>
				  {% endfor %}
				</h6>
            </header>
            <section class="container">
                {{ post.excerpt }}
            </section>
            <section class="special">
                <ul class="actions">
                    <li><a href="{{ site.baseurl }}{{ post.url }}" class="button {% cycle '', 'alt'%}">Read More</a></li>
                </ul>
            </section>
        </div>
    {% endfor %}
    <br>
	<article class="container">
		<footer>
			{% if paginator.previous_page %}
			  <a href="{{ paginator.previous_page_path }}" style="float: left;" class="button">&nbsp;&larr; Previous&nbsp;</a> {% endif %}
			{% if paginator.next_page %}
			  <a href="{{ paginator.next_page_path }}" style="float: right;" class="button">&nbsp;Next &rarr;&nbsp;</a> {% endif %}
		</footer>
	</article>
	<br><br>
</section>